<!DOCTYPE html>
<html ng-app="helpApp">
<head>
    <title>Busco Ayuda</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Angular JS files -->
    <script src="static/src/app.js"></script>

    <script src="static/src/modules/main/main.mod.js"></script>
    <script src="static/src/modules/main/main.svc.js"></script>
    <script src="static/src/modules/main/main.ctrl.js"></script>

    <script src="static/src/modules/login/login.mod.js"></script>
    <script src="static/src/modules/login/login.svc.js"></script>
    <script src="static/src/modules/login/login.ctrl.js"></script>

    <script src="static/src/modules/independents/independents.mod.js"></script>
    <script src="static/src/modules/independents/independents.svc.js"></script>
    <script src="static/src/modules/independents/independents.ctrl.js"></script>

    <script src="static/src/modules/profile/profile.mod.js"></script>
    <script src="static/src/modules/profile/profile.svc.js"></script>
    <script src="static/src/modules/profile/profile.ctrl.js"></script>

    <script src="static/src/modules/comments/comments.mod.js"></script>
    <script src="static/src/modules/comments/comments.svc.js"></script>
    <script src="static/src/modules/comments/comments.ctrl.js"></script>

    <script src="static/src/modules/detail/detail.mod.js"></script>
    <script src="static/src/modules/detail/detail.svc.js"></script>
    <script src="static/src/modules/detail/detail.ctrl.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" ng-controller="mainCtrl as ctrl" ng-init="ctrl.isLogged()">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/independents"><i class="fa fa-angellist"> Busco Ayuda</i></a>
        </div>
        <div>
            <div ng-if="message.logged">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/profile"><i class="fa fa-user"> Mi Perfil</i></a></li>
                    <li ><a ng-click="ctrl.logOut()" href="#/"><i class="fa fa-sign-out"> Cerrar Sesión</i></a></li>
                </ul>
            </div>
            <div ng-if="!message.logged">
                <ul class="nav navbar-nav navbar-right">
				    <li><a href="#/register" id="linkRegistrarse"><i class="fa fa-user"> Register</i></a></li>
                    <li><a href="#/login" id="linkLogin"><i class="fa fa-sign-in"> Iniciar Sesión</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div ng-view></div>
</body>
</html>