<div class="container" ng-controller="loginCtrl as ctrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header">

                <div class="alert alert-danger" ng-if="error">
                    Usuario y/o Contraseña Invalida
                </div>

                    <div class="form-group">
                        <label class="control-label" for="username">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" ng-model="user.password">
                    </div>

                <button type="submit" class="btn btn-primary" ng-click="ctrl.logIn()" id="butLogin">Iniciar Sesión</button>
                <a href="#/independents" class="btn btn-default">Volver</a>

            </div>
        </div>
    </div>
</div>