<div class="container" ng-controller="independentsCtrl as ctrl" ng-init="ctrl.getIndependents()"
     xmlns="http://www.w3.org/1999/html">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" id="idBuscarIndependiente" class="form-control" name="q" placeholder="Buscar Independiente" ng-model="search"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" id="butBuscar"><i class="fa fa-search"> Buscar</i></button>
                    </span>
                </div>
                <br /><br />
            </div>
        </div>

        <div ng-repeat="record in independents | filter: search">
            <div class="col-md-4 col-sm-6 col-lg-4 well">
                <div class="caption" >
                    <p align="center"><strong>{{record.fields.job | uppercase}}</strong></p>
                </div>
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image" ng-if="record.fields.imageFileUrl">
                        <a ng-href="{{ record.fields.imageFileUrl }}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{ record.fields.imageFileUrl }}" alt="{{ record.fields.imageFileUrl }}"></a>
                    </div>
                </div>
                <div class="caption" >
                    <p>{{record.fields.name }} {{record.fields.lastName }}</p>
                    <p><strong>Años de Experiencia:</strong> {{record.fields.yearsOfExperience}}</p>
                    <p><strong>Teléfono:</strong> {{record.fields.phoneNumber}}</p>
                    <p><strong>Correo:</strong> {{record.fields.email}}</p>
                    <p><a class="btn btn-primary" href="#/comments/{{record.pk}}">Enviar comentario</a></p>
                    <p><a class="btn btn-info" href="#/detail/{{record.pk}}">Detalle independiente</a></p>
                </div>
            </div>
        </div>
    </div>
</div>